.swiftpm/xcode/xcuserdata/awienconek.sii.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/awienconek.sii.xcuserdatad/UserInterfaceState.xcuserstate
Sources/SwiftPropertyWrappers/.DS_Store
Sources/.DS_Store
.DS_Store
Package.resolved
